/* The Button Container*/
#button {
	height: 500px;
	width: 500px
}
/* The Button Image*/
#button_img {

}

/* Counter Display*/
#counter {}

/* Time Display*/
#time {}

/* Graph Container*/
#graph-container {
  width: 1000px;
  height: 500px;
}

/* Graph points*/
.graph-points {
  float:left;
  width: 1px;
  background-color: blue;
}
