/* The Button Container*/
#button {
  height: 500px;
  width: 500px;
  display:none;
}
/* The Button Image*/
#button_img {}

/* Counter Display*/
#counter {}

/* Time Display*/
#time {}

/* Graph Container*/
#graph-container {
  width: 100px;
  height: 100px;
}

/* Graph points*/
.graph-points {
  float:left;
  width: 1px;
  background-color: blue;
}

/* Start button*/
#start-button {}

/* Info Display Container*/
#info-display { }


