/* The Button */
#button {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	z-index: -10;
}
#start-button {
  z-index: 1;
}

/* Counter Display*/
#counter {}

/* Time Display*/
#time {}

/* Graph Container*/
#graph-container {
  width: 100px;
  height: 100px;
}

/* Graph points*/
.graph-points {
  float:left;
  width: 1px;
  background-color: blue;
}

/* Start button*/
#start-button {}

/* Info Display Container*/
#info-display { }


