<!doctype html>
<html>
<head>

  <meta charset="UTF-8" />
  <title>Tap'o'tron</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="/cdn/script.js"></script>
  <link href="/cdn/class.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
		/* The UID of the player */
    var uid = "{{ uid }}";
  </script>

</head>
<body>

<audio id="sound" src="/cdn/pppfs.wav" preload="auto"></audio>

<div id='start-button'>
  Start A Game
</div>

<img id='button' />

<ul id='info-display'>
	<li>Current Score: <span id='counter'>0</span></li>
	<li>Highest Score: <span id='best-score'></span></li>
	<li>Time Left: <span id='time'></span> seconds</li>
</ul>

<div id='graph-container'>
</div>

</body>
</html>
