<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Tap'o'tron</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="/cdn/script.js"></script>
	<script src="/cdn/social.js"></script>
	<link href="/cdn/class.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	/* The UID of the player */
	var uid = "{{ uid }}";
	</script>
</head>
<body>

<div id="fb-root"></div>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId  : {{app_id}},
			status : true, // check login status
			cookie : true, // enable cookies to allow the server to access the session
			xfbml  : true 
		});
		setupSocial();
	};

	(function() {
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
	}());
</script>

<audio id="sound" src="/cdn/pppfs.wav" preload="auto"></audio>

<div id='start-button'>
  Start A Game
</div>

<img id='button' />

<ul id='info-display'>
	<li>Current Score: <span id='counter'>0</span></li>
	<li>Highest Score: <span id='best-score'></span></li>
	<li>Time Left: <span id='time'></span> seconds</li>
</ul>

<div id='graph-container'>
</div>

<div id="invite-friends">Invite friends!</div>

<div id='friendslist'>
</div>

</body>
</html>
